<style type="text/css">
    .notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    cursor:pointer;
    width:50%;
}
.notice:hover{
    background-color:#efefef;
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}
.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}
</style>
<div class="container">
    <% @matches.each do |user| %>
        <div class="notice notice-success notice-lg">
            <strong><%= user.name %></strong> at <%= user.preferred_location %> for <%= user.preferred_jobs.split("/").join(",") %>
        </div>
        <div class="contact-card">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://robohash.org/<%= user.name %>" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            <%= user.name %></h4>
                            <% if user.available %>
                                <i class="glyphicon glyphicon-ok" style="float:right;color:green"></i>
                            <% else %>
                                <i class="glyphicon glyphicon-remove" style="float:right;color:red"></i>
                            <% end %>
                        <small><cite title="San Francisco, USA"><%= user.preferred_location %><i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-phone-alt"></i><%= user.mob_num %>
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><%= user.preferred_jobs.split("/").join(",") %>
                            <br />
                            <i class="glyphicon glyphicon-star"></i><%= user.ratings %>
                            <br />
                            <i class="glyphicon glyphicon-king"></i><%= user.experience %> task(s) completed
                        </p>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                                Hire Him!
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <% end %>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $(".contact-card").hide();
        $(".notice").on("click",function(){
            $(".contact-card").slideUp();
            $(this).next().slideDown();
        });
    });
</script>