<% @page_title = "UserAuth | Signup" %>
<style type="text/css">
    .jumbotron {
    background: #358CCE;
    color: #FFF;
    border-radius: 0px;
    }
    .jumbotron-sm { padding-top: 24px;
    padding-bottom: 24px; }
    .jumbotron small {
    color: #FFF;
    }
    .h1 small {
    font-size: 24px;
    }
</style>

<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Sign Up</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-md-6">
                        <div>
                          <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#user" aria-controls="user" role="tab" data-toggle="tab">User</a></li>
                            <li role="presentation"><a href="#agent" aria-controls="agent" role="tab" data-toggle="tab">Agent</a></li>
                            <li role="presentation"><a href="#company" aria-controls="company" role="tab" data-toggle="tab">Company</a></li>
                          </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="user">
                  
                  <div class="row" style="padding:5%;">
                    <div class="col-md-8">
                        <div class="form-group">
                          <%= form_tag("/signup",method: "post") do %>
                            <%= hidden_field_tag "type","user" %> 
                            <%= label_tag("Name") %>
                            <%= text_field_tag(:name, '' ,{class:"form-control"}) %>
                        </div>
                        
                        <div class="form-group">
                            <%= label_tag("Mobile Number") %>
                            <%= text_field_tag(:mob_num, '', {class:"form-control"}) %>
                        </div>

                        <div class="form-group">
                            <%= label_tag("Password") %>
                            <%= password_field_tag(:password,'',{class:"form-control"}) %>
                        </div>

                        <div class="form-group">
                        <%= label_tag("Password_confirmation") %>
                        <%= password_field_tag(:password_confirmation,'',{class:"form-control"}) %>
                        </div>
                        
                        <div class="form-group">
                            <%= label_tag("Preferred Job Type") %>
                        </div>
                        
                        <div class="form-group">
                            <%= check_box_tag "preferred_jobs[]","Preferred Job Type1",false,{class:"checkbox"} %>
                            <%= label_tag("Preferred Job Type1") %>
                        </div>
                        
                        <div class="form-group">
                            <%= check_box_tag "preferred_jobs[]","Preferred Job Type2",false,{class:"checkbox"} %>
                            <%= label_tag("Preferred Job Type2") %>
                        </div>
                        
                        <div class="form-group">
                            <%= label_tag("Preferred Job Location") %>
                        </div>

                        <div class="form-group">
                            <%= check_box_tag "preferred_location[]","Preferred Job Location1",false,{class:"checkbox"} %>
                            <%= label_tag("Preferred Job Location1") %>
                        </div>

                        <div class="form-group">
                            <%= check_box_tag "preferred_location[]","Preferred Job Location2",false,{class:"checkbox"} %>
                            <%= label_tag("Preferred Job Location2") %>
                        </div>

                        <%= submit_tag("SignUp",:class=>"btn btn-primary") %>
                        <%end%>
                    </div>
                  </div>
                  
                </div>

                <div role="tabpanel" class="tab-pane" id="agent">
                  <div class="row" style="padding:5%;">
                    <div class="col-md-8">
                        
                        <div class="form-group">
                            <%= form_tag("/signup",method: "post") do %>
                            <%= hidden_field_tag "type","agent" %> 
                            <%= label_tag("Name") %>
                            <%= text_field_tag(:name,'',:class=>"form-control") %>
                        </div>
                        
                        <div class="form-group">
                            <%= label_tag("Mobile Number") %>
                            <%= text_field_tag(:mob_num,'',:class=>"form-control") %>
                        </div>

                        <div class="form-group">
                            <%= label_tag("Password") %>
                            <%= password_field_tag(:password,'',:class=>"form-control") %>
                        </div>

                        <div class="form-group">
                            <%= label_tag("Password_confirmation") %>
                            <%= password_field_tag(:password_confirmation,'',:class=>"form-control") %>
                        </div>

                        <div class="form-group">
                            <%= label_tag("Max employee count") %>
                            <%= text_field_tag(:max_emp_count,'',:class=>"form-control") %>
                        </div>
                        
                        <div class="form-group">
                            <%= label_tag("Preferred Employee Type") %>
                        </div>

                        <div class="form-group">
                            <%= check_box_tag "preferred_employee[]","Preferred Employee Type1",false,:class=>"checkbox" %>
                            <%= label_tag("Preferred Employee Type1") %>
                        </div>

                        <div class="form-group">
                            <%= check_box_tag "preferred_employee[]","Preferred Employee Type2",false,:class=>"checkbox" %>
                            <%= label_tag("Preferred Employee Type2") %>
                        </div>
                        
                        <div class="form-group">
                            <%= label_tag("Preferred Job Location") %>
                        </div>

                        <div class="form-group">
                            <%= check_box_tag "preferred_location[]","Preferred Job Location1",false,:class=>"checkbox" %>
                            <%= label_tag("Preferred Job Location1") %>
                        </div>

                        <div class="form-group">
                            <%= check_box_tag "preferred_location[]","Preferred Job Location2",false,:class=>"checkbox" %>
                            <%= label_tag("Preferred Job Location2") %>
                        </div>

                        
                        <%= submit_tag("SignUp",:class=>"btn btn-primary") %>
                        <%end%>
                    </div>
                  </div>
                </div>


                <div role="tabpanel" class="tab-pane" id="company">
                  <div class="row" style="padding:5%;">
                    <div class="col-md-8">

                        <div class="form-group">
                            <%= form_tag("/signup",method: "post") do %>
                            <%= hidden_field_tag "type","company" %> 
                            <%= label_tag("Name") %>
                            <%= text_field_tag(:name,'',:class=>"form-control") %>
                        </div>

                        <div class="form-group">
                            <%= label_tag("Organisation") %>
                            <%= text_field_tag(:organisation,'',:class=>"form-control") %>
                        </div>

                        <div class="form-group">
                            <%= label_tag("Type of organisation") %>
                            <%= text_field_tag(:organisation_type,'',:class=>"form-control") %>
                        </div>
                        
                        <div class="form-group">
                            <%= label_tag("Email") %>
                            <%= text_field_tag(:email,'',:class=>"form-control") %>
                        </div>
                        
                        <div class="form-group">
                            <%= label_tag("Password") %>
                            <%= password_field_tag(:password,'',:class=>"form-control") %>
                        </div>

                        <div class="form-group">
                            <%= label_tag("Password_confirmation") %>
                            <%= password_field_tag(:password_confirmation,'',:class=>"form-control") %>
                        </div>

                        <div class="form-group">
                            <%= label_tag("Address") %>
                            <%= text_area_tag(:address,'',:class=>"form-control") %>
                        </div>

                        <%= submit_tag("SignUp",:class=>"btn btn-primary") %>
                        <%end%>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            </div>              
        </div>
    </div>
</div>




