<% @page_title = "UserAuth | Signup" %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>SignUp</h1>
  </div>
</div>
<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#user" aria-controls="user" role="tab" data-toggle="tab">User</a></li>
    <li role="presentation"><a href="#agent" aria-controls="agent" role="tab" data-toggle="tab">Agent</a></li>
    <li role="presentation"><a href="#company" aria-controls="company" role="tab" data-toggle="tab">Company</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="user">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <%= form_tag("/signup",method: "post") do %>
            <%= hidden_field_tag "type","user" %> 
            <%= label_tag("Name") %>
            <%= text_field_tag(:name) %>
            <br/>
            <%= label_tag("Mobile Number") %>
            <%= text_field_tag(:mob_num) %>
            <br/>
            <%= label_tag("Preferred Job Type") %>
            <br/>
            <%= label_tag("Preferred Job Type1") %>
            <%= check_box_tag "preferred_jobs[]","Preferred Job Type1" %>
            <br/>
            <%= label_tag("Preferred Job Type2") %>
            <%= check_box_tag "preferred_jobs[]","Preferred Job Type2" %>
            <br/>
            <%= label_tag("Preferred Job Location") %>
            <br/>
            <%= label_tag("Preferred Job Location1") %>
            <%= check_box_tag "preferred_location[]","Preferred Job Location1" %>
            <br/>
            <%= label_tag("Preferred Job Location2") %>
            <%= check_box_tag "preferred_location[]","Preferred Job Location2" %>
            <br/>
            <%= label_tag("Password") %>
            <%= password_field_tag(:password) %>
            <br/>
            <%= label_tag("Password_confirmation") %>
            <%= password_field_tag(:password_confirmation) %>
            <br/>
            <%= submit_tag("SignUp") %>
            <%end%>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="agent">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <%= form_tag("/signup",method: "post") do %>
            <%= hidden_field_tag "type","agent" %> 
            <%= label_tag("Name") %>
            <%= text_field_tag(:name) %>
            <br/>
            <%= label_tag("Mobile Number") %>
            <%= text_field_tag(:mob_num) %>
            <br/>
            <%= label_tag("Max employee count") %>
            <%= text_field_tag(:max_emp_count) %>
            <br/>
            <%= label_tag("Preferred Employee Type") %>
            <br/>
            <%= label_tag("Preferred Employee Type1") %>
            <%= check_box_tag "preferred_employee[]","Preferred Employee Type1" %>
            <br/>
            <%= label_tag("Preferred Employee Type2") %>
            <%= check_box_tag "preferred_employee[]","Preferred Employee Type2" %>
            <br/>
            <%= label_tag("Preferred Job Location") %>
            <br/>
            <%= label_tag("Preferred Job Location1") %>
            <%= check_box_tag "preferred_location[]","Preferred Job Location1" %>
            <br/>
            <%= label_tag("Preferred Job Location2") %>
            <%= check_box_tag "preferred_location[]","Preferred Job Location2" %>
            <br/>
            <%= label_tag("Password") %>
            <%= password_field_tag(:password) %>
            <br/>
            <%= label_tag("Password_confirmation") %>
            <%= password_field_tag(:password_confirmation) %>
            <br/>
            <%= submit_tag("SignUp") %>
            <%end%>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="company">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <%= form_tag("/signup",method: "post") do %>
            <%= hidden_field_tag "type","company" %> 
            <%= label_tag("Name") %>
            <%= text_field_tag(:name) %>
            <br/>
            <%= label_tag("Organisation") %>
            <%= text_field_tag(:organisation) %>
            <br/>
            <%= label_tag("Type of organisation") %>
            <%= text_field_tag(:organisation_type) %>
            <br/>
            
            <%= label_tag("Email") %>
            <%= text_field_tag(:email) %>
            <br/>
            
            <%= label_tag("Password") %>
            <%= password_field_tag(:password) %>
            <br/>
            <%= label_tag("Password_confirmation") %>
            <%= password_field_tag(:password_confirmation) %>
            <br/>
             <%= label_tag("Address") %>
            <%= text_area_tag(:address) %>
            <br/>
            <%= submit_tag("SignUp") %>
            <%end%>
        </div>
      </div>
    </div>
  </div>

</div>



